table.table
  thead
    tr
      th
        | ジャンル
      th
        | 状態
      th
  tbody
    - genres.each do |genre|
      tr
        td
          = genre.name
        td
          = genre.display
        td
          = link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-primary"