<div class = "row">
  <div class = "col-xs-offset-1">
     <h3>管理者ログイン</h3>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <div class = "row">
      <div class = "col-xs-2">
      </div>
      <div class = "col-xs-2">
        <lavel>メールアドレス</lavel>
      </div>
      <div class = "col-xs-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class = "col-xs-7">
      </div>
    </div>
  </div>

  <div class="field">
    <div class = "row">
      <div class = "col-xs-2">
      </div>
      <div class = "col-xs-2">
        <lavel>パスワード</lavel>
      </div>
      <div class = "col-xs-3">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class = "col-xs-7">
      </div>
    </div>
  </div>


  <div class="actions">
    <div class = "row">
      <div class = "col-xs-offset-4">
        <%= f.submit "ログイン" %>
      </div>
    </div>
  </div>

<% end %>

